{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

  <h1>Order History </h1>
  <br>
  <br>

  {% if trainer_orders %}
    {% for order in trainer_orders %}
    <p>Customer Name: {{ order.order.client_name}}</p>
    <p>Order Number:{{ order.id }} </p>
    <p>Order Date: {{ order.order.created|date:"d M Y"}}</p>

    <p>Customer email: {{ order.order.client_email}}</p>
    <p>Number of sessions: {{ order.sessions }}</p>
    <p>Gross Amount:{{ order.order.total }} </p>
    <p>Service Fee: {{ order.order.service_fee }}</p>
    <p>Net Pay:{{ order.order.net_pay }} </p>

    <a href="#">View Order</a>
    <br>
    <br>
    {% endfor %}
  {% else %}
  <h3>You have not yet placed an order</h3>

  <p> please click <a href="{% url 'gym:trainer_list'%}">Here</a> to find a trainer</p>

  {% endif %}

{% endblock %}
