{% extends 'base.html' %}

{% block content %}

  {% if user.is_client == True %}


    <h1>Welcome Client: {{ user.username }}</h1>
    {% if user.clientprofile.profile_img %}
      <img src="{{user.clientprofile.profile_img.url}}" width="240" alt="No Image">
    {% endif %}
    <h2>Sessions</h2>
    <p>get the most recent order id</p>
    <p>model to have available sessions, normal sessions, date, status</p>
    <p>if button is pushed, status is changed from unused to pending, second button appears in trainer</p>
    <p>if button is accepted, status is changed to completed</p>
    <p>when status is changed to completed new object of AvailableSession is created, status changed back to available</p>
    <p>when availble sessions reaches zero sessions is filed away</p>
    <br>
    <br>
    <br>
    {% if session.status == 'complete'%}
      <p>Congratulations you've completed your workout</p>
      <p>Book another: <a href="{% url 'gym:trainer_detail' pk=session.trainer_id%}">Here</a> </p>
      <p>Checkout your workout history <a href="{% url 'order:order_history'%}">Here</a> </p>
    {% else %}
      <p>Your newest order is: {{ session.order_id }} from {{ session.order.trainer_name}}</p>
      {% for a in available %}
        {% if a.available_sessions == total %}
          <p>You started with {{ a.available_sessions }} available sessions. created on: {{ a.date }}</p>
        {% else %}
          <p>You have: {{ a.available_sessions }} available sessions. Session last used on: {{ a.date }}</p>
        {% endif %}
      {% endfor %}
      <a class="btn btn-primary" href="mailto:{{ session.order.trainer_email}}">Request Session</a>
      <p>Email: {{ session.order.trainer_email}}</p>
        <form method="get">
          <input type="submit" class="btn btn-primary" value="Attend Session" name="use_session">
        </form>

    <br>
    <br>

    {% endif %}
  <p> <a class="btn btn-success" href="{% url 'gym:client_update' pk=user.pk %}">Update Profile</a> </p>
  {% else %}
  <p>You are not a client</p>

  {% endif %}


{% endblock %}
