{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<div class="jumbotron">
  <h2>Trainer Details: </h2>
  {% if trainer_detail.profile_img %}
    <img src="{{trainer_detail.profile_img.url}}" width="240" alt="No Image">

  {% endif %}

  <p>Name: {{trainer_detail.user.username }}</p>
  <p>Description: {{trainer_detail.description}}</p>
  <p>Age: {{ trainer_detail.age }}</p>
  <p>Skills: {{ trainer_detail.skills }}</p>
  <p>Location: {{ trainer_detail.location}}</p>
  <p>Email: {{ trainer_detail.user.email }}</p>

  <h2>Workouts</h2>

<!-- this is the view if the user is a trainer viewing their own detail page-->
  {% if user.trainerprofile.pk == trainer_detail.pk %}
  <form action="{% url 'gym:trainer_detail' pk=trainer_detail.pk %}" method="POST">
    {% csrf_token %}
    {% for workout in trainer_detail.workouts.all %}
    {{ workout.name }}: £{{ workout.price }}
    <br>
    Number of Sessions per month: {{workout.sessions }}
    <br>
    Description: {{ workout.workout_description}}
    <input type="radio" name="workout" value="{{ workout.price }}">
    <p> <a class="btn btn-warning" href="{% url 'gym:workout_update' pk=workout.pk %}">Update</a>  <a class="btn btn-warning" href="{% url 'gym:workout_remove' pk=workout.pk %}">Delete</a> </p>

    <br>

    {% endfor%}
</form>

</div>

<div class="container">
  <p> <a class="btn btn-success" href="{% url 'gym:addWorkout' pk=trainer_detail.pk %}">Add New Workout</a> </p>
  <p> <a class="btn btn-success" href="{% url 'gym:trainer_update' pk=trainer_detail.pk %}">Update Profile</a> </p>
</div>
<!-- this is the view if the user is a client -->
  {% else %}
  <form action="{% url 'gym:trainer_detail' pk=trainer_detail.pk %}" method="GET">
    {% csrf_token %}

    {% for workout in trainer_detail.workouts.all %}
    {{ workout.name }}: £{{ workout.price }}
    <br>
    Number of Sessions per month: {{workout.sessions }}
    <br>
    Description: {{ workout.workout_description}}
    <a class="btn btn-primary" href="{% url 'cart:add_cart' pk=workout.pk %}">Add To Cart</a>
    <br>

    {% endfor%}
</form>
{% endif %}






{% endblock %}
